{% extends 'base.html.twig' %}

{% block title %}QuestionAnswer index
{% endblock %}

{% block body %}
	{% include 'back/partial/back_nav_bar.html.twig' %}
	<div class="container pt-5">
		<div class="row mb-2">
			<h1>Liste des questionsRéponses</h1>
			<div class="col-10 mx-auto">
				<a href="{{ path('app_back_question_answer_new') }}">Ajouter une questionRéponse</a>
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>IsGood</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for question_answer in question_answers %}
							<tr>
								<td>{{ question_answer.id }}</td>
								<td>{{ question_answer.isGood ? 'Yes' : 'No' }}</td>
								<td>
									<a class="btn btn-sm btn_show" href="{{ path('app_back_question_answer_show', {'id': question_answer.id}) }}">Voir</a>
									<a class="btn btn-sm btn_edit" href="{{ path('app_back_question_answer_edit', {'id': question_answer.id}) }}">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Non trouvée</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

