{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="bg-light mt-4 p-4">
				<h1 class="text-center fs-2 mb-4">Inscription</h1>

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.pseudo) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn">Envoyer</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
