{% extends 'base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
	{% include 'back/partial/back_nav_bar.html.twig' %}
	<div class="container pt-5">
		<div class="row mb-2">
			<h1 class="text-center my-5 fs-2">Liste des catégories</h1>
			<div class="col-10 mx-auto">
				<a class="btn btn-primary mb-4" href="{{ path('app_back_category_new') }}">Ajouter une catégorie</a>
				<table class="table text-center table-striped table-hover">
					<thead>
						<tr class="red_line">
							<th class="red_line">Id</th>
							<th class="red_line">Name</th>
							<th class="red_line">actions</th>
						</tr>
					</thead>
					<tbody class="align-middle">
						{% for category in categories %}
							<tr>
								<td>{{ category.id }}</td>
								<td>{{ category.name }}</td>
								<td>
									<a class="btn btn-sm btn_show" href="{{ path('app_back_category_show', {'id': category.id}) }}">Voir</a>
									<a class="btn btn-sm btn_edit" href="{{ path('app_back_category_edit', {'id': category.id}) }}">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">Catégories non trouvées</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
