{% extends 'base.html.twig' %}

{% block title %}Liste UserGameAnswer
{% endblock %}

{% block body %}
	{% include 'back/partial/back_nav_bar.html.twig' %}
	<div class="container pt-5">
		<div class="row mb-2">
			<h1 class="text-center my-5">Liste UserGameAnswer</h1>
			<div class="col-10 mx-auto">
				<a href="{{ path('app_back_user_game_answer_new') }}">Ajouter UserGameAnswer</a>
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Good</th>
							<th>DelayAnswer</th>
							<th>actions</th>
						</tr>
					</thead>
					<tbody>
						{% for user_game_answer in user_game_answers %}
							<tr>
								<td>{{ user_game_answer.id }}</td>
								<td>{{ user_game_answer.good ? 'Yes' : 'No' }}</td>
								<td>{{ user_game_answer.delayAnswer }}</td>
								<td>
									<a class="btn btn-sm btn_show" href="{{ path('app_back_user_game_answer_show', {'id': user_game_answer.id}) }}">Voir</a>
									<a class="btn btn-sm btn_edit" href="{{ path('app_back_user_game_answer_edit', {'id': user_game_answer.id}) }}">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">Non trouvés</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}
