{% extends 'base.html.twig' %}

{% block title %}La réponse D !{% endblock %}

{% block body %}
    <header>
        <img src="logo.jpg" alt="LOGO" id="logo">

        <!-- {# if app.user #} -->
            <nav class="front_nav">
                <a href="#" class="navLink">Classement</a>
                <a href="#" class="navLink">Désinscription</a>
                <a href="#" class="navLink">Déconnexion</a>
            </nav>
        <!-- {# else #} -->
            <!--
            <nav class="front_nav">
                <a href="#" class="navLink">Classement</a>
                <a href="#" class="navLink">Inscription</a>
                <a href="#" class="navLink">Connexion</a>
            </nav>
            -->
        <!-- {# endif #} -->
    </header>

    <main class="front_main">
        <section id="titles">
            <h1>La réponse D !</h1>
            <!-- {# if app.user #} -->
                <h2>Bienvenue <span style="color: red">&lt;User&gt;</span>, nous sommes heureux de vous
                accueillir&nbsp;!</h2>
                <h2>Vous avez actuellement <span style="color: red">&lt;Score&gt;</span>&nbsp;points
                <br>et vous êtes en <span style="color: red">&lt;Place&gt;</span><sup>ème</sup>&nbsp;position
                dans le classement général...</h2>
            <!-- {# else #} -->
                <!--
                <h2>Bienvenue dans ce jeu de quizz en&nbsp;ligne&nbsp;!</h2>
                <h2>
                    N'hésitez pas à vous inscrire dès maintenant pour découvrir le jeu complet ou simplement
                    à jouer à la mini&#8209;partie de 5 questions qui vous est offerte ci&#8209;dessous...-->
                    <!-- Le caractère "&#8209;" est le trait d'union insécable. -->
                <!--
                </h2>
                -->
            <!-- {# endif #} -->
        </section>

        <!-- {# if app.user #} -->
        <section id="level_categ">
            <div id="game_choice">
                <div id="level_div">
                    <label for="level">Niveau</label>
                    <select id="level">
                        <option>Débutant</option>
                        <option>Intermédiaire</option>
                        <option>Expert</option>
                    </select>
                </div>
                <div id="categ_div">
                    <label for="categ">Catégorie</label>
                    <select id="categ">
                        <option>Animaux</option>
                        <option>Art</option>
                        <option>Cinéma</option>
                        <option>Cuisine</option>
                        <option>Culture générale</option>
                        <option>Géographie</option>
                        <option>Histoire</option>
                        <option>Informatique</option>
                        <option>Jeux Vidéo</option>
                        <option>Littérature</option>
                        <option>Musique</option>
                        <option>Séries TV</option>
                        <option>Sport</option>
                    </select>
                </div>
            </div>
            <div id="game_validate">Valider</div>
        </section>
        <!-- {# endif #} -->

        <section id="explain">
            <h3>Comment jouer ?</h3>
            <!-- {# if app.user #} -->
            <p>En tant que joueur connecté, vous pouvez choisir ci&#8209;dessus le niveau de difficulté et la
            catégorie de la partie complète de 15 questions présente ci&#8209;dessous.</p>
            <!-- {# endif #} -->
            <p>Cliquer sur le bouton de la question ci&#8209;dessous déclenche le compteur et fait apparaître
            la question et ses réponses.</p>
            <p>Cliquer sur une réponse la valide et fait disparaître l'ensemble. Il n'est alors plus
            possible de modifier ce choix.</p>
            <p>Si vous n'avez pas répondu dans le temps imparti, la question et les réponses disparaissent
            aussi...</p>
        </section>

        <section id="buttons">
            <!-- Ici se trouvent des boutons créés dans une boucle JS. -->
        </section>

        <!-- {# if app.user #} -->
            <!-- {# if "Niveau facile" #} --> <!-- Par défaut -->
                <div id="count-down-timer">20 secondes</div>
            <!-- {# elseif "Niveau moyen" #} -->
                <!--
                <div id="count-down-timer">15 secondes</div>
                -->
            <!-- {# else #} --> <!-- Niveau difficile -->
                <!--
                <div id="count-down-timer">10 secondes</div>
                -->
            <!-- {# endif #} -->
        <!-- {# else #} -->
            <!--
            <div id="count-down-timer">20 secondes</div>
            -->
        <!-- {# endif #} -->

        <section>
            {% set numQue = 0 %}    {# Numéro de question #}
            {% for question in questions %}
                {% set numQue = numQue + 1 %}
                {% if numQue <= 15 %}
                    <article id="question{{ numQue }}">
                        <div class="question">
                            {{ question.content|raw }}
                        </div>
                        <div class="reponses">
                            {% for answers in question.questionAnswers %}
                                <span class="reponse" id="rep{{ numQue }}-{{ loop.index }}"
                                data-answer-id="{{ answers.answer.id }}"
                                data-answer-is-good="{{ answers.isIsGood }}">{{ answers.answer.content }}</span>
                            {% endfor %}
                        </div>
                    </article>
                {% endif %}
            {% endfor %}

            <!-- L'article commenté ci-dessous est un exemple de première version "en dur" d'une question. -->
            {#<article id="question1">
                <div class="question">
                    Quelle est la plus grande planète de notre système solaire&nbsp;?
                </div>
                <div class="reponses">
                    <span class="reponse" id="rep1-1">Jupiter</span>
                    <span class="reponse" id="rep1-2">Saturne</span>
                    <span class="reponse" id="rep1-3">Uranus</span>
                    <span class="reponse" id="rep1-4">Neptune</span>
                </div>
            </article>#}

            <article id="result">
                <p>La partie est terminée !</p>
                <p>Vous avez obtenu <span style="color: red">&lt;Score&gt;</span>&nbsp;points.</p>
                <p>N'hésitez pas à rejouer ou à vous inscrire pour des parties plus longues !</p>
            </article>
        </section>

        <!-- {# if app.user #} -->
        <!-- Ce bouton ne fait que recharger la page. -->
            <div id="new_game" onClick="window.location.reload()">Nouvelle partie</div>
        <!-- {# endif #} -->

        <div id="hidden"></div>
    </main>

    <footer>
        <img src="logo.jpg" alt="LOGO" id="footer_logo">
        <div class="names">
            <span class="eachName">Christophe NEDAUD</span>
            <span class="eachName">Gilbert&nbsp;FRADET</span>
            <span class="eachName">Jérôme&nbsp;FROMANTIN</span>
        </div>
    </footer>
{% endblock %}