{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	{% include 'back/partial/back_nav_bar.html.twig' %}
	<div class="container pt-5">
		<div class="row mb-2">
			<div class="col-8 mx-auto">
				<h1 class="text-center my-5 fs-1">User</h1>
				<a class="btn btn_return mb-5" href="{{ path('app_back_user_index') }}">Retour à  la liste</a>
				<table class="table text-center">
					<tbody>
						<tr>
							<th class="red_line">Id</th>
							<td>{{ user.id }}</td>
						</tr>
						<tr>
							<th class="red_line">Email</th>
							<td>{{ user.email }}</td>
						</tr>
						<tr>
							<th class="red_line">Roles</th>
							<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						</tr>
						{# <tr>
						                <th>Password</th>
						                <td>{{ user.password }}</td>
						            </tr> #}
						<tr>
							<th class="red_line">Pseudo</th>
							<td>{{ user.pseudo }}</td>
						</tr>
						<tr>
							<th class="red_line">TotalScore</th>
							<td>{{ user.totalScore }}</td>
						</tr>
						<tr>
							<th class="red_line">CreatedAt</th>
							<td>{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td>
						</tr>
					</tbody>
				</table>
				<div class="col d-flex justify-content-center">
					<a class="btn btn-sm btn_edit" href="{{ path('app_back_user_edit', {'id': user.id}) }}">Modifier</a>
					{{ include('back/user/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
